.App {
  text-align: center;
}

.justifyCenter {
  justify-content: center !important;
}

.content {
  margin: 20px 0 80px;
}

@media (max-width: 400px) {
  .content {
    margin-bottom: 160px;
  }
}
