.row {
    width: 100%;
}

.padder {
    width: 100%;
    height: 120px;
    position: relative;
    bottom: 0;
}

@media (max-width: 440px) {
    .padder {
        height: 180px;
    }
}

@media (max-width: 370px) {
    .padder {
        height: 190px;
    }
}

@media (max-width: 200px) {
    .padder {
        height: 200px;
    }
}
